binds {
    // Window management
    Mod+C { close-window; }
    Mod+T { fullscreen-window; } 
    Mod+TAB { toggle-overview; }

    // Move focus
    Mod+H { focus-column-left; } 
    Mod+L { focus-column-right; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }

    // Move windows
    Mod+Shift+H { move-column-left; } 
    Mod+Shift+L { move-column-right; }
    Mod+Shift+J { move-window-down-or-to-workspace-down; }
    Mod+Shift+K { move-window-up-or-to-workspace-up; }

    // Switch workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    // Move active windows between workspaces
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }
    
    // Move workspaces between monitors
    Mod+Shift+P { move-column-to-monitor-down; }
    Mod+Shift+N { move-column-to-monitor-up; }

    // Scroll through workspaces
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }

    // Resize windows
    Mod+D { switch-preset-column-width; }
    Mod+F { expand-column-to-available-width; }

    // Launchers
    Mod+Q { spawn-sh "source ~/.config/theme/env/current && wezterm"; }
    Mod+R { spawn-sh "~/.config/scripts/ui/app_menu.sh"; }
    Mod+V { spawn-sh "~/.config/scripts/ui/cliphist_menu.sh"; }
    Mod+P { spawn-sh "grimshot copy area && notify-send 'Print Screen' 'Area copied to clipboard'"; }
    Mod+O { spawn-sh "f=/tmp/ocr.png; grimshot save area $f && (tesseract $f - | wl-copy && notify-send 'OCR' 'Text copied to clipboard'); rm -f $f"; }

    // Media keys
    XF86AudioRaiseVolume { spawn "pamixer" "-u" "-i" "5"; }
    XF86AudioLowerVolume { spawn "pamixer" "-u" "-d" "5"; }
    XF86AudioMute { spawn "pamixer" "-t"; }
    XF86MonBrightnessUp { spawn "light" "-A" "5"; }
    XF86MonBrightnessDown { spawn "light" "-U" "5"; }

    // Exit & Lock
    Mod+M { quit; } 
    Mod+Alt+L { spawn "hyprlock"; }
}

switch-events {
    lid-close { spawn "hyprlock"; }
}
